.Button {
    border: none;
    font-family: 'Poppins', sans-serif;
    height: 50px;
    width: 100%;
    font-size: 1.2rem;
    color: white;
    border-radius: 20px;
    margin: 0 5px;
}

.Button:hover {
    cursor: pointer;
}

.Button--primary {
    background-color: #4ABCAD;
}

.Button--secondary {
    background-color: #FC4A1A;
}

.Button--tertiary {
    background-color: #808183;
}